*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.home {
  width: 100vw;
  height: 84vh;
  position: relative;
  background-color: lightgray;
}
.home-img {
  width: 400px;
}
@media screen and (max-width: 375px) {
  .home-img {
    width: 300px;
  }
}
.home-title {
  font-size: 25px;
  color: rgb(216, 16, 16);
  padding: 20px 0;
}
.home-p {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 20px;
}
.home-form {
  display: flex;
  box-shadow: 3px 2px 4px 1px rgb(0 0 0 / 30%)
}
.home-input {
  width: 300px;
  border: none;
  text-align: center;
  font-size: 18px;
  height: 40px;
}
.home-input::placeholder{
  color: lightgray;
  font-size: 16px;
  text-align:start ;
  padding-left: 10px;
}
.btn {
  padding: 10px;
  background-color: rgb(216, 16, 16);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
.btn:active {
  background-color: rgb(255, 0, 0);
  box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 10%);
}
.btn:hover {
  font-size: 17px;
}

.home-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.circle {
  border: 8px solid black;
  border-radius: 50%;
  background-color: white;
  width: 40px;
  aspect-ratio: 1;
}
.red, .black {
  width: 100%;
  height: 8vh;
  background-color: rgb(219, 2, 2);
}
.black {
  background-color: black ;
}

.pokedex-select {
  width: 400px;
  background-color: rgb(250, 250, 250);
  border: none;
  border-radius: 5px;
  box-shadow: 3px 2px 4px 1px rgb(0 0 0 / 30%);
  cursor: pointer;
}
.pokedex-select > option {
  text-align: center;
  font-size: medium;
}
.pokedex-name{
  color: red;
}
.pokedex-title {
  padding: 20px 40px 0;
}

.pokedex-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.pokemons-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pokemon {
  width: min-content;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 3px 2px 4px 1px rgb(0 0 0 / 30%) ;
}
.pokemon:hover {
  transform: translateY(5px);
  transform: scale3d(1.1, 1.1, 1.1);
}
.pokemon-mov {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 10px;
  border-top: 1px solid rgb(160, 160, 160);
}

.pokemon-base-state {
  font-size: 22px;
  color: lightslategray;
}
.pokemon-name {
  color:lightslategray ;
}
.pokemon-state {
  text-transform: uppercase;
  padding-top: 10px;
  font-size: 13px;
}

.pokemon-img {
  width: 200px;
  height: 200px;
}
.pokemon-type {
  text-transform: capitalize;
  color: rgb(109, 109, 109);
  padding-bottom: 5px;
}
.poke-id {
  background-color: lightgray;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.poke-head,.movements {
  background-color: white;
  padding: 3px;
  width: 80vw;
  border-radius: 5px;
  box-shadow: 3px 2px 4px 1px rgb(0 0 0 / 30%);
  text-align: center;
  display: flex;
  flex-direction: column;
}
.pokemon-img-id {
  display: block;
  margin: auto auto;
  max-width: 300px;
}
.poke-id-text {
  border: 2px solid lightslategrey;
  width: 30px;
  font-size: 20px;
  aspect-ratio: 1;
  margin: 0 auto;
  color: lightslategrey;
}
.poke-info-id {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.poke-info-id-2 {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2, 1fr);
}
.poke-info-id-2:nth-child(1){
  grid-column: 1 / 2;
}

.head {
  display: flex;
  justify-content: space-between;
}
.color-info {
  background-color: red;
  width: 80%;
  height: 15px;
}
.movements-title {
  padding: 20px;
  font-size: 30px;
}
.info {
  display: flex;
  padding-top: 20px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.btn-info {
  border: none;
  padding: 5px 20px;
  border-radius: 20px;
  text-transform: capitalize;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 3px 2px 4px 1px rgb(0 0 0 / 20%) ;
}
.btn-info:hover {
  transform: scale3d(1.1,1.1,1.1);
  box-shadow: 3px 2px 4px 1px rgb(0 0 0 / 40%) ;
}
.fire {
  border: 7px solid rgba(254,85,0,1);
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(254,85,0,1) 0%, rgba(250,234,187,1) 55%, rgba(255,255,255,1) 93%);
  }
.fighting{
  border: 7px solid rgb(150,37,14) ;
  background: linear-gradient(180deg, rgba(150,37,14,1) 0%, rgba(250,234,187,1) 55%, rgba(255,255,255,1) 93%);
}
.water {
  border: 7px solid rgba(42,62,186,1);
  background: linear-gradient(180deg, rgba(42,62,186,1) 0%, rgba(246,242,219,1) 55%, rgba(255,255,255,1) 93%);
}
.grass {
  border: 7px solid rgba(42,186,136,1) ;
  background: linear-gradient(180deg, rgba(42,186,136,1) 0%, rgba(246,242,219,1) 55%, rgba(255,255,255,1) 93%);
}
.bug {
  border: 7px solid rgba(30,208,101,1) ;
  background: linear-gradient(180deg, rgba(30,208,101,1) 0%, rgba(246,242,219,1) 55%, rgba(255,255,255,1) 93%);
}
.normal {
  border: 7px solid rgba(68,10,0,1) ;
  background: linear-gradient(180deg, rgba(68,10,0,1) 0%, rgba(246,242,219,1) 55%, rgba(255,255,255,1) 93%);
}
.poison {
  border: 7px solid rgba(9,14,96,1) ;
  background: linear-gradient(180deg, rgba(9,14,96,1) 0%, rgba(246,242,219,1) 55%, rgba(255,255,255,1) 93%);
}
.electric {
  border: 7px solid rgba(255,248,0,1);
  background: linear-gradient(180deg, rgba(255,248,0,1) 0%, rgba(246,242,219,1) 55%, rgba(255,255,255,1) 93%);
}

.ground {
  border: 7px solid rgba(8,126,4,1);
  background: linear-gradient(180deg, rgba(8,126,4,1) 0%, rgba(246,242,219,1) 55%, rgba(255,255,255,1) 93%);
}
.fairy {
  border: 7px solid rgba(184,8,141,1);
  background: linear-gradient(180deg, rgba(184,8,141,1) 0%, rgba(246,242,219,1) 55%, rgba(255,255,255,1) 93%);
}
.psychic {
  border: 7px solid rgba(139,0,31,1) ;
  background: linear-gradient(180deg, rgba(139,0,31,1) 0%, rgba(246,242,219,1) 55%, rgba(255,255,255,1) 93%);
}
.rock {
  border: 7px solid rgba(80,80,80,1);
  background: linear-gradient(180deg, rgba(80,80,80,1) 0%, rgba(246,242,219,1) 55%, rgba(255,255,255,1) 93%);
}
.ghost {
  border: 7px solid rgba(121,2,224,1);
  background: linear-gradient(180deg, rgba(121,2,224,1) 0%, rgba(246,242,219,1) 55%, rgba(255,255,255,1) 93%);
}
.steel {
  border: 7px solid rgba(39,92,89,1);
  background: linear-gradient(180deg, rgba(39,92,89,1) 0%, rgba(246,242,219,1) 55%, rgba(255,255,255,1) 93%);
  color:rgba(39,92,89,1) ;
}
.ice {
  border: 7px solid rgba(0,255,239,1);
  background: linear-gradient(180deg, rgba(0,255,239,1) 0%, rgba(246,242,219,1) 55%, rgba(255,255,255,1) 93%);
  color: rgba(0,255,239,1);
}
.dragon {
  border: 7px solid rgba(222,9,9,1) ;
  background: linear-gradient(180deg, rgba(222,9,9,1) 0%, rgba(246,242,219,1) 55%, rgba(255,255,255,1) 93%);
  color: rgba(222,9,9,1);
}
.dark {
  border: 7px solid rgba(0,0,0,1) ;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(60,1,1,1) 55%, rgba(255,255,255,1) 93%);
  color:rgba(0,0,0,1) ;
}

.border {
  border: none;
}